{% extends "base.html" %}

{% block title %}SafeDrive Login Page{% endblock %}


{% block content %}
<div class="card login-card mt-4 border-primary">
  <div class="card-body">
    <h2 class = "text-center">SafeDrive</h2>
    <h4 class = "text-center mt-4">Login to your account</h4>

    {% if status != '' %}
      <div class="alert alert-success mt-4" role="alert">
        {{status}}
      </div>
    {% endif %}

    {% if error != '' %}
    <div class="alert alert-danger mt-4" role="alert">
      {{error}}
    </div>
    {% endif %}


    <form method="post" action="/check_login">
      <div class="form-group mt-5">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group mt-5">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>

    <div class="mt-5 text-center">
      Don't have an account? <a href="/signup">Sign UP</a>
    </div>

  </div>
</div>
{% endblock %}
