<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SafeDrive Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style type='text/css'>
    </style
  </head>
  <body>
    <div class="container">
      <div class="card login-card mt-4 border-primary">
        <div class="card-body">
          <h2 class = "text-center">SafeDrive</h2>
          <h4 class = "text-center mt-4">Login to your account</h4>

          <form method="post" action="/check_login">
            <div class="form-group mt-5">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group mt-5">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>

          <div class="mt-5 text-center">
            Don't have an account? <a href="/signup">Sign UP</a>
          </div>

        </div>
      </div>
    </div>

  </body>
</html>
